
@{
    ViewBag.Title = "Index";
}
<div class="main">
    <div id="signin" class="main signincontainer">
        <div id="inputs" class="main">
            <span class="signin">Sign in</span>
        </div>
        <div class="main label">
            <input type="text" width="100" name="txtEmail" id="txtEmail" placeholder="Username" class="email" />
        </div>
        <div class="main label">
            <input type="password" width="100" id="txtPassword" name="txtPassword" placeholder="Password" class="password" />
        </div>
        <div id="invaliduser" class="main invaliduser" style="display:none">
            <span>Invalid username and/or password. Please try again.</span>
        </div>
        <div class="button">
            <div class="register">
                <a href="#">New user? Register</a>
            </div> 
            <input class="btn btn-success signinbutton" type="button" name="btnSignIn" value="Sign in" onclick="signIn()" />
        </div>
    </div>
    
    <div id="role" class="main signincontainer" style="display:none">
        <div id="inputs">
            <span class="username" ><b>Hello,</b>&nbsp;</span>
            <span class="" id="userName"></span>
        </div>
        <div class="main selectrole">
            <span>Please select your role</span>
        </div>
        <div id="roleselection" class="main roles">
            <select id="roles" class="availableroles">
                <option value="0"></option>
            </select>
        </div>
        <div class="main button">
            <div class="backsection">
                <input class="btn btn-success signinbutton" type="button" name="btnBack" value="Back" onclick="backtosignin()" />
            </div>
            <input class="btn btn-success signinbutton" type="button" name="btnNext" value="Next" onclick="actionselection()" />
        </div>
    </div>

    <div id="action" class="main signincontainer" style="display:none">
        <div id="inputs">
            <span class="username"><b>Hello,</b>&nbsp;</span>
            <span class="" id="userName2"></span>
        </div>
        <div class="main selectrole">
            <span>What would you like to do as a</span>
            <span class="roleName" id="roleName"></span>&nbsp;?
        </div>
        <div id="roleselection" class="main roles">
            <div>
                <div class="action1">
                    <img style="padding:0px;" src="~/Images/View.png" width="30" height="30" />
                    <span onclick="">View existing travel requests</span>
                </div>
                <div class="action2" onclick="createnewrequest()">
                    <img style="padding:0px;" src="~/Images/New.png" width="30" height="30" />
                    <span>Create new travel request</span>
                </div>
            </div>
        </div>
        <div class="main button2">
            <div class="main backsection2">
                <input class="btn btn-success signinbutton" type="button" name="btnBack" value="Back" onclick="backtoroleselection()" />
            </div>
        </div>
    </div>

    <div id="dataentry" class="dataentry" style="display:none">
        <div id="content" class="content">
            <div class="title">
                <span>Travel Request Form</span>
            </div>
            <div class="dataentrysection1">
                <div class="rowentry">
                    <div class="label2">
                        <span>Badge #</span>
                    </div>
                    <input type="text" placeholder="Badge Number" id="txtBadgeNumber" width="100" class="datainput" /> <br />
                </div>
                <div class="rowentry">
                    <div class="label2">
                        <span>Name</span>
                    </div>
                    <input type="text" placeholder="Name" id="txtName" width="100" class="datainput" /> <br />
                </div>
                <div class="rowentry">
                    <div class="label2">
                        <span>Division</span>
                    </div>
                    <input type="text" placeholder="Division" id="txtDivision" width="100" class="datainput" /> <br />
                </div>
                <div class="rowentry">
                    <div class="label2">
                        <span>Section</span>
                    </div>
                    <input type="text" placeholder="Section" id="txtSection" width="100" class="datainput" /> <br />
                </div>
                <div class="rowentry">
                    <div class="label2">
                        <span>Organization</span>
                    </div>
                    <input type="text" placeholder="Organization" id="txtOrganization" width="100" class="datainput" /> <br />
                </div>
            </div>
            <div class="dataentrysection2">
                <div class="rowentry">
                    <div class="label2">
                        <span>Meeting Location</span>
                    </div>
                    <input type="text" placeholder="Meeting Location" id="txtMeetingLocation" width="100" class="datainput" /> <br />
                </div>
                <div class="rowentry">
                    <div class="label2">
                        <span>Meeting Begin Date</span>
                    </div>
                    <input type="date" placeholder="Meeting Begin Date" id="txtMeetingBeginDate" width="100" class="datainput" /> <br />
                </div>
                <div class="rowentry">
                    <div class="label2">
                        <span>Meeting End Date</span>
                    </div>
                    <input type="date" placeholder="Meeting End Date" id="txtMeetingEndDate" width="100" class="datainput" /> <br />
                </div>
                <div class="rowentry">
                    <div class="label2">
                        <span>Departure Date</span>
                    </div>
                    <input type="date" placeholder="Departure Date" id="txtDepartureDate" width="100" class="datainput" /> <br />
                </div>
                <div class="rowentry">
                    <div class="label2">
                        <span>Return Date</span>
                    </div>
                    <input type="date" placeholder="Return Date" id="txtReturnDate" width="100" class="datainput" /> <br />
                </div>
            </div>
            </div>
        <div id="footer" class="footer">
            <div class="footerback">
                <input class="btn btn-success signinbutton" type="button" name="btnBack" value="Back" onclick="backtoactionselection()" />
            </div>
            <div class="saveandcontinue">
                <input class="btn btn-success signinbutton" type="button" name="btnNext" value="Save and Continue" onclick="" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        var userName = '';

        $(document).ready(function () {
            $("#txtEmail").focus();
        });

        function signIn() {

            // Make api call to authenticate the user
            var user = $("#txtEmail").val();
            var password = $("#txtPassword").val();

            $.ajax({
                type: "POST",
                url: "/api/login",
                data: JSON.stringify({ "UserName":user, "Password":password }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    
                    var result = JSON.parse(data);

                    // set the roles dropdown
                    var options = $("#roles");

                    options.empty();
                    //options.append($("<option />").val(0));

                    for (var index = 0; index < result.Roles.length; index++) {
                        if (result.Roles[index].Name == "Traveler") {
                            options.append($("<option selected />").val(result.Roles[index].Id).text(result.Roles[index].Name));
                        }
                        else {
                            options.append($("<option />").val(result.Roles[index].Id).text(result.Roles[index].Name));
                        }
                    }

                    // set user name
                    $("#userName").text(result.UserName);
                    userName = result.UserName;

                    //show role section
                    $("#signin").hide();
                    $("#action").hide();
                    $("#role").show();
                    $("#logout").show();
                },
                error: function (xhr, options, error) {
                    if (xhr.status == 401) {
                        $("#invaliduser").show();
                        $("#txtEmail").focus();
                    }
                }
            });
        }

        function backtosignin() {
            $("#logout").hide();
            $("#role").hide();
            $("#action").hide();
            $("#invaliduser").hide();
            $("#dataentry").hide();
            $("#signin").show();
        }

        function actionselection() {

            var userRole = $("#roles option:selected").text();

            $("#action").show();
            $("#role").hide();
            $("#signin").hide();

            // set user name
            $("#userName2").text(userName);

            // set role
            $("#roleName").text(userRole);
        }

        function backtoroleselection() {
            $("#signin").hide();
            $("#action").hide();
            $("#role").show();
        }

        function backtoactionselection()
        {
            $("#dataentry").hide();
            $("#action").show();
        }

        function logout()
        {
            $("#action").hide();
            $("#role").hide();
            $("#action").hide();
            $("#invaliduser").hide();
            $("#logout").hide();
            $("#dataentry").hide();
            $("#signin").show();

            $("#txtEmail").focus();
        }

        function createnewrequest() {
            $("#action").hide();
            $("#dataentry").show();
            $("#txtBadgeNumber").focus();
        }
</script>

