
@{
    ViewBag.Title = "Index";
}

<div class="main">
    <div id="signin" class="main signincontainer">
        <div id="inputs" class="main">
            <span class="signin">Sign in</span>
        </div>
        <div class="main label">
            <input type="text" width="100" name="txtEmail" id="txtEmail" placeholder="Email" class="email" />
        </div>
        <div class="main label">
            <input type="password" width="100" name="txtPassword" placeholder="Password" class="password" />
        </div>
        <div class="button">
            <div class="register">
                <a href="#">New user? Register</a>
            </div>
            <input class="btn btn-success signinbutton" type="button" name="btnSignIn" value="Sign in" />
        </div>
    </div>
    @*<div id="login" class="span3 well well-large offset4">
        <h4>Sign in</h4>
        <form class="form">
            <input type="text" placeholder="Email" id="txtLogInId" name="txtLogInId" tabindex="1" required /> <br />
            <input type="password" placeholder="Password" id="txtPassword" name="txtPassword" tabindex="2" required /><br />
            <input class="btn btn-success signin" type="button" name="btnSignIn" value="Sign in" onclick="signIn()" tabindex="3" />&nbsp;
            <a class="register" href="#" tabindex="4">New user? Register</a>
        </form>
    </div>*@
</div>
<script type="text/javascript">

        $(document).ready(function () {
            $("#txtEmail").focus();
        });

</script>
