<div id="estimatedexpense">
    <div class="main dataentrycontainer">
        <div id="content" class="content estimatedexpense">
            <div class="title">
                <span>Estimated Expense Form</span>
            </div>
            <div class="expensesection1">
                <div>
                    <div class="expensetitle">Estimated Expenses</div>
                    <div class="tablecontainer">
                        <div class="tableheading">
                            <div class="tableheadtopleft">&nbsp;</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Lodging (Per Night)</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Airfare (Prepaid)</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Registration (Prepaid)</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Meals</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Car Rental</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Miscellaneous</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Total</div>
                        </div>
                        <div class="tablebody" ng-app="travelApp" ng-controller="travelAppCtrl">
                            <div class="tablerow">
                                <div class="tablecellheader expenserowtitle">Advance Needed</div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvLodge" class="inputnumber" ng-model="advanceLodgingAmount" ng-change="updateTotalAdvanceAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvAirfare" class="inputnumber" ng-model="advanceAirfareAmount" ng-change="updateTotalAdvanceAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvRegistration" class="inputnumber" ng-model="advanceRegistrationAmount" ng-change="updateTotalAdvanceAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvMeals" class="inputnumber" ng-model="advanceMealsAmount" ng-change="updateTotalAdvanceAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell"> 
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvCarRental" class="inputnumber" ng-model="advanceCarRentalAmount"  ng-change="updateTotalAdvanceAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvMiscellaneous" class="inputnumber" ng-model="advanceMiscellaneousAmount" ng-change="updateTotalAdvanceAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" step="0.01" placeholder="0.00" id="txtExpenseItemTotal" readonly class="inputnumberTotal" ng-model="totalAdvanceAmount" />
                                </div>
                            </div>
                            <div class="tablerow">
                                <div class="tablecellheader expenserowtitle">Total Estimated Cost</div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedLodge" class="inputnumber" ng-model="estimatedLodgingAmount" ng-change="updateTotalEstimatedAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedAirfare" class="inputnumber" ng-model="estimatedAirfareAmount" ng-change="updateTotalEstimatedAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedRegistration" class="inputnumber" ng-model="estimatedRegistrationAmount" ng-change="updateTotalEstimatedAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedMeals" class="inputnumber" ng-model="estimatedMealsAmount" ng-change="updateTotalEstimatedAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedCarRental" class="inputnumber" ng-model="estimatedCarRentalAmount" ng-change="updateTotalEstimatedAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedMiscellaneous" class="inputnumber" ng-model="estimatedMiscellaneousAmount" ng-change="updateTotalEstimatedAmount()" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" step="0.01" placeholder="0.00" id="txtTotalEstimatedTotal" readonly class="inputnumberTotal" ng-model="totalEstimatedAmount" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="expensesection1">
                <div>
                    <div class="expensetitle">Fill in all the information below</div>
                    <div class="expensedataentrysection">
                        <div class="expenserowentry">
                            <div class="expenselabel">
                                <span>Hotel Name and Address</span>
                            </div>
                            <textarea placeholder="Hotel Name and Address" id="txtHotelNameAndAddress" width="100" class="expensedatainput address" />
                        </div>
                        <div class="expenserowentry">
                            <div class="expenselabel">
                                <span>Payable To and Address</span>
                            </div>
                            <textarea placeholder="Payable To and Address" id="txtPayableTo" width="100" class="expensedatainput address" />
                        </div>
                        <div class="expenserowentry">
                            <div class="expenselabel">
                                <span>Schedule</span>
                            </div>
                            <textarea placeholder="Schedule" id="txtSchedule" width="100" class="expensedatainput address" />
                        </div>
                    </div>
                    <div class="expensedataentrysection">                 
                        <div class="expenserowentry">
                            <div class="expenselabel">
                                <span>Agency Name, Reservation #</span>
                            </div>
                            <textarea placeholder="Agency Name, Reservation #" id="txtAgencyName" width="100" class="expensedatainput address" />
                        </div>
                        <div class="expenserowentry" style="padding-top:2px;">
                            <div class="expenselabel">
                                <span>Shuttle, taxi etc.</span>
                            </div>
                            <textarea placeholder="Shuttle, taxi etc." id="txtShuttle" width="100" class="expensedatainput address" />
                        </div>
                        <div class="expenserowentry" style="padding-top:2px;">
                            <div style="float:left;padding-right:50px;">
                                <div class="expenselabel">
                                    <span>Cash Advance Requested ($)</span>
                                </div>
                                <input type="number" min="0.00" step="0.01" placeholder="0.00" id="txtCashAdvance" width="40" class="expensedatainputnumber" />
                            </div>
                            <div>
                                <div class="expenselabel">
                                    <span>Date needed by</span>
                                </div>
                                <input type="date" placeholder="" id="dtDateNeededBy" width="100" class="expensedatainputdate" />
                            </div>
                        </div>
                    </div>
                    <div class="expensedataentrysection">
                        <div class="expenserowentry">
                            <div class="expenselabel">
                                <span>Note any meals that are included in the conference</span>
                            </div>
                            <textarea placeholder="Note any meals included in conference" id="txtNoteAnyMeals" width="100" class="expensedatainput notes" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" class="footer estimatedexpense">
                <div class="footerback">
                    <input class="btn btn-success signinbutton" type="button" name="btnBack" value="Back" onclick="showtravelrequestformsection()" />
                </div>
                <div class="saveandcontinue">
                    <input class="btn btn-success signinbutton" type="button" name="btnNext" value="Save and Continue" onclick="saveestimatedexpense()" />
                </div>
            </div>
        </div>
    </div>
</div>

