<div id="fis">
    <div class="main dataentrycontainer">
        <div id="content" class="content estimatedexpense">
            <div class="title">
                <span>FIS</span>
            </div>
            <div class="expensesection1">
                <div>
                    <!--<div class="expensetitle">Estimated Expenses</div>-->
                    <div class="tablecontainer fiscontainer">
                        <div class="tableheading">
                            <div class="tableheadtopleftfis">&nbsp;</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Cost Center</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Line Item</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Project</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Task</div>
                            <div class="spacer"></div>
                            <div class="tablehead">Amount</div>
                        </div>
                        <div class="tablebody" ng-app="travelApp" ng-controller="travelAppCtrl">
                            <div class="tablerow">
                                <div class="tablecellheader expenserowtitle">&nbsp;</div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <select class="inputdropdown" id="ddlCostCenter1" 
                                            ng-model="ddlCostCenter1" 
                                            ng-options="costcenter.Name for costcenter in CostCenters track by costcenter.Id"
                                            ng-change="getProjects('ddlCostCenter1', ddlCostCenter1)"></select>
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="text" placeholder="" id="txtLineItem1" class="inputtext" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <select class="inputdropdown" id="project1" 
                                            ng-model="ddlProjects1" 
                                            ng-options="project.Name for project in projects1 track by project.Id"></select>
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="99999999.99" step="0.01" placeholder="0.00" id="txtTask1" class="inputnumberfis" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="99999999.99" step="0.01" 
                                           placeholder="0.00" 
                                           id="txtAmount1" 
                                           class="inputnumberfis"
                                           ng-model="totalFISAmount1" 
                                           ng-change="updateTotalFISAmount()" />
                                </div>
                            </div>
                            <div class="tablerow">
                                <div class="tablecellheader expenserowtitle">&nbsp;</div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <select class="inputdropdown" id="ddlCostCenter2" 
                                            ng-model="ddlCostCenter2" 
                                            ng-options="costcenter.Name for costcenter in CostCenters track by costcenter.Id"
                                            ng-change="getProjects('ddlCostCenter2', ddlCostCenter2)"></select>
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="text" placeholder="" id="txtLineItem2" class="inputtext" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <select class="inputdropdown" id="project2"
                                            ng-model="ddlProjects2"
                                            ng-options="project.Name for project in projects2 track by project.Id"></select>
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="99999999.99" step="0.01" placeholder="0.00" id="txtTask2" class="inputnumberfis" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="99999999.99" step="0.01" 
                                           placeholder="0.00" 
                                           id="txtAmount2" 
                                           class="inputnumberfis"
                                           ng-model="totalFISAmount2" 
                                           ng-change="updateTotalFISAmount()" />
                                </div>
                            </div>
                            <div class="tablerow">
                                <div class="tablecellheader expenserowtitle">&nbsp;</div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <select class="inputdropdown" id="ddlCostCenter3" 
                                            ng-model="ddlCostCenter3" 
                                            ng-options="costcenter.Name for costcenter in CostCenters track by costcenter.Id"
                                            ng-change="getProjects('ddlCostCenter3', ddlCostCenter3)"></select>
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="text" placeholder="" id="txtLineItem3" class="inputtext" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <select class="inputdropdown" id="project3"
                                            ng-model="ddlProjects3"
                                            ng-options="project.Name for project in projects3 track by project.Id"></select>
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="99999999.99" step="0.01" placeholder="0.00" id="txtTask3" class="inputnumberfis" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="99999999.99" step="0.01" 
                                           placeholder="0.00" 
                                           id="txtAmount3" 
                                           class="inputnumberfis"
                                           ng-model="totalFISAmount3" 
                                           ng-change="updateTotalFISAmount()" />
                                </div>
                            </div>
                            <div class="tablerow">
                                <div class="tablecellheader expenserowtitle">&nbsp;</div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <select class="inputdropdown" id="ddlCostCenter4" 
                                            ng-model="ddlCostCenter4" 
                                            ng-options="costcenter.Name for costcenter in CostCenters track by costcenter.Id"
                                            ng-change="getProjects('ddlCostCenter4', ddlCostCenter4)"></select>
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="text" placeholder="" id="txtLineItem4" class="inputtext" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <select class="inputdropdown" id="project4"
                                            ng-model="ddlProjects4"
                                            ng-options="project.Name for project in projects4 track by project.Id"></select>
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="99999999.99" step="0.01" placeholder="0.00" id="txtTask4" class="inputnumberfis" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="99999999.99" step="0.01" 
                                           placeholder="0.00" 
                                           id="txtAmount4" 
                                           class="inputnumberfis"
                                           ng-model="totalFISAmount4" 
                                           ng-change="updateTotalFISAmount()" />
                                </div>
                            </div>
                            <div class="tablerow">
                                <div class="tablecellheader expenserowtitle">&nbsp;</div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <select class="inputdropdown" id="ddlCostCenter5" 
                                            ng-model="ddlCostCenter5" 
                                            ng-options="costcenter.Name for costcenter in CostCenters track by costcenter.Id"
                                            ng-change="getProjects('ddlCostCenter5', ddlCostCenter5)"></select>
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="text" placeholder="" id="txtLineItem5" class="inputtext" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <select class="inputdropdown" id="project5"
                                            ng-model="ddlProjects5"
                                            ng-options="project.Name for project in projects5 track by project.Id"></select>
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="99999999.99" step="0.01" placeholder="0.00" id="txtTask5" class="inputnumberfis" />
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" min="0.00" max="99999999.99" step="0.01" 
                                           placeholder="0.00" 
                                           id="txtAmount5" 
                                           class="inputnumberfis"
                                           ng-model="totalFISAmount5" 
                                           ng-change="updateTotalFISAmount()" />
                                </div>
                            </div>
                            <div class="tablerow">
                                <div class="tablecellheader expenserowtitle">&nbsp;</div>
                                <div class="spacer"></div>
                                <div class="tablecell">&nbsp;</div>
                                <div class="spacer"></div>
                                <div class="tablecell">&nbsp;</div>
                                <div class="spacer"></div>
                                <div class="tablecell">&nbsp;</div>
                                <div class="spacer"></div>
                                <div class="tablecell expenserowtitle totalfis">
                                    Total
                                </div>
                                <div class="spacer"></div>
                                <div class="tablecell">
                                    <input type="number" 
                                           placeholder="0.00" 
                                           id="txtAmountTotal"
                                           ng-model="totalFISAmount" readonly 
                                           class="inputnumberTotalfis" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="footer" class="footer estimatedexpense">
                <div class="footerback">
                    <input class="btn btn-success signinbutton" type="button" name="btnBack" value="Back" onclick="showestimatedexpensesection()" />
                </div>
                <div class="saveandcontinue">
                    <input class="btn btn-success signinbutton" type="button" name="btnNext" value="Save and Continue" onclick="saveestimatedexpense()" />
                </div>
            </div>
        </div>
    </div>
</div>
