<div id="travelrequestform">
    <div id="dataentry" class="main uploadandsubmitcontainer">      
        <div class="dataentry">
            <div id="dataentrysection">
                <div class="usersection">
                        <div class="row">
                            <div class="column">
                                <div class="pagetitle2">
                                    <span id="travelRequestIdForDisplay">Travel Request Form</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <div class="label2">
                                    <span>Badge #</span><sup class="required">*</sup>
                                </div>
                                <input type="text" placeholder="" id="txtBadgeNumber" width="100" class="datainput" onblur="setUserName()" />
                            </div>
                            <div class="column">
                                <div class="label2">
                                    <span>Name</span><sup class="required">*</sup>
                                </div>
                                <input type="text" placeholder="" id="txtName" width="100" class="datainputname" />
                            </div>
                            <div class="column">
                                <div class="label2">
                                    <span>Division</span><sup class="required">*</sup>
                                </div>
                                <input type="text" placeholder="" id="txtDivision" width="100" class="datainput" />
                            </div>
                            <div class="column">
                                <div class="label2">
                                    <span>Section</span><sup class="required">*</sup>
                                </div>
                                <input type="text" placeholder="" id="txtSection" width="100" class="datainput" />
                            </div>
                            <div class="column">
                                <div class="label2">
                                    <span>Date</span><sup class="required">*</sup>
                                </div>
                                <input type="date" placeholder="" id="txtToday" width="100" class="datainputdate" />
                            </div>
                        </div>
                        <div class="row" style="display:flex;flex-direction:row">
                            <div class="column">
                                <div class="label2">
                                    <span>Organization</span><sup class="required">*</sup>
                                </div>
                                <input type="text" placeholder="" id="txtOrganization" width="100" class="datainputname" />
                            </div>
                            <div class="column">
                                <div class="label3">
                                    <span>Meeting Location</span><sup class="required">*</sup>
                                </div>
                                <input type="text" placeholder="" id="txtMeetingLocation" width="100" class="datainputname" />
                            </div>
                            <div class="column">
                                <div class="label2">
                                    <span>Purpose</span>
                                </div>
                                <textarea placeholder="" id="txtPurpose" width="100" class="purposedatainput" />
                            </div>
                        </div>
                        <div class="row" style="display:flex;flex-direction:row">
                            <div class="column">
                                <div class="label3">
                                    <span>Meeting Begins</span><sup class="required">*</sup>
                                </div>
                                <input type="date" placeholder="" id="txtMeetingBeginDate" width="100" class="datainputdate" />
                            </div>
                            <div class="column">
                                <div class="label3">
                                    <span>Meeting Ends</span><sup class="required">*</sup>
                                </div>
                                <input type="date" placeholder="" id="txtMeetingEndDate" width="100" class="datainputdate" />
                            </div>
                            <div class="column">
                                <div class="label3">
                                    <span>Departure Date</span><sup class="required">*</sup>
                                </div>
                                <input type="date" placeholder="" id="txtDepartureDate" width="100" class="datainputdate" />
                            </div>
                            <div class="column">
                                <div class="label3">
                                    <span>Return Date</span><sup class="required">*</sup>
                                </div>
                                <input type="date" placeholder="" id="txtReturnDate" width="100" class="datainputdate" />
                            </div>
                        </div>
                    </div>
                <div class="estimatedexpensesection row">
                    <div class="pagetitle3">
                        <span>Estimated Expenses</span>
                    </div>
                    <div class="">
                        <div class="tablecontainer">
                            <div class="tableheading">
                                <div class="tablehead">Expense Items</div>
                                <div class="spacer"></div>
                                <div class="tablehead">Advance Needed</div>
                                <div class="spacer"></div>
                                <div class="tablehead">Total Estimated Cost</div>
                                <div class="spacer"></div>
                                <div class="tablehead">Fill in all information as indicated</div>
                                <div class="tablehead"></div>
                            </div>
                            <div class="tablebody" ng-app="travelApp" ng-controller="travelAppCtrl">
                                <div class="tablerow">
                                    <div class="tablecellheader expenserowtitle">Lodging (Per Night)</div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvLodge" class="inputnumber" ng-model="advanceLodgingAmount" ng-change="updateTotalAdvanceAmount()" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedLodge" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecellheader expenserowtitle">Hotel Name and Address</div>
                                    <div class="tablecell">
                                        <textarea placeholder="" id="txtHotelNameAndAddress" width="100" class="generaldatainput2"></textarea>
                                    </div>
                                </div>
                                <div class="tablerow">
                                    <div class="tablecellheader expenserowtitle">Airfare (Prepaid)</div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvAirfare" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedAirfare" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecellheader expenserowtitle">Schedule</div>
                                    <div class="tablecell">
                                        <textarea placeholder="" id="txtSchedule" width="100" class="generaldatainput2"></textarea>
                                    </div>
                                </div>
                                <div class="tablerow">
                                    <div class="tablecellheader expenserowtitle">Registration (Prepaid)</div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvRegistration" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedRegistration" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecellheader expenserowtitle">Payable to and Address</div>
                                    <div class="tablecell">
                                        <textarea placeholder="" id="txtPayableTo" width="100" class="generaldatainput2"></textarea>
                                    </div>
                                </div> 
                                <div class="tablerow">
                                    <div class="tablecellheader expenserowtitle">Meals</div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvMeals" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedMeals" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecellheader expenserowtitle">Notes</div>
                                    <div class="tablecell">
                                        <textarea placeholder="" id="txtNotes" width="100" class="generaldatainput2" ></textarea>
                                    </div>
                                </div> 
                                <div class="tablerow">
                                    <div class="tablecellheader expenserowtitle">Car Rental</div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvCarRental" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedCarRental" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecellheader expenserowtitle">Agency Name and Reservation #</div>
                                    <div class="tablecell">
                                        <textarea placeholder="" id="txtAgencyName" width="100" class="generaldatainput2" ></textarea>
                                    </div>
                                </div>
                                <div class="tablerow">
                                    <div class="tablecellheader expenserowtitle">Miscellaneous</div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvMiscellaneous" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalEstimatedMiscellaneous" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecellheader expenserowtitle">Shuttle, taxi etc.</div>
                                    <div class="tablecell">
                                        <textarea placeholder="" id="txtShuttle" width="100" class="generaldatainput2" />
                                    </div>
                                </div>
                                <div class="tablerow">
                                    <div class="tablecellheader expenserowtitle"><b>Totals</b></div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAdvanceTotal" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecell">
                                        <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtEstimatedTotal" class="inputnumber" />
                                    </div>
                                    <div class="spacer"></div>
                                    <div class="tablecellheader expenserowtitle">Cash Advance Requested $</div>
                                    <div class="tablecell">
                                        <textarea placeholder="" id="txtCashAdvanceRequested" width="100" class="generaldatainput"></textarea>
                                    </div>
                                </div>
                                <div class="tablerow">
                                    <div class="tablecellheader expenserowtitle"></div>
                                    <div class="spacer"></div>
                                    <div class="tablecell"></div>
                                    <div class="spacer"></div>
                                    <div class="tablecell"></div>
                                    <div class="spacer"></div>
                                    <div class="tablecellheader expenserowtitle">Date Needed by</div>
                                    <div class="tablecell">
                                        <textarea placeholder="" id="txtDateNeededBy" width="100" class="generaldatainput2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="estimatedexpensesection" >
                        <div class="pagetitle3">
                            <span>FIS</span>
                        </div>
                        <div class="">
                            <div class="tablecontainer">
                                <div class="tableheading">
                                    <div class="tablehead">Cost Center</div>
                                    <div class="spacer"></div>
                                    <div class="tablehead">Line Item</div>
                                    <div class="spacer"></div>
                                    <div class="tablehead">Project</div>
                                    <div class="spacer"></div>
                                    <div class="tablehead">Task</div>
                                    <div class="spacer"></div>
                                    <div class="tablehead">Amount</div>
                                </div>
                                <div class="tablebody" ng-app="travelApp" ng-controller="travelAppCtrl">
                                    <div class="tablerow">
                                        <div class="tablecell">
                                            <select class="inputdropdown2" id="ddlCostCenter1"
                                                    ng-model="ddlCostCenter1"
                                                    ng-options="costcenter.CostCenterValue for costcenter in CostCenters track by costcenter.Name"
                                                    ng-change="getProjects('ddlCostCenter1', ddlCostCenter1)"></select>
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="tablecell">
                                            <input type="text" placeholder="" id="txtLineItem1" class="inputtext2" />
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="tablecell">
                                            <select class="inputdropdown2" id="project1"
                                                    ng-model="ddlProjects1"
                                                    ng-options="project.Name for project in projects1 track by project.Id"></select>
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="tablecell">
                                            <input type="number" min="0.00" max="99999999.99" step="0.01" placeholder="0.00" id="txtTask1" class="inputnumberfis2" />
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="tablecell">
                                            <input type="number" min="0.00" max="99999999.99" step="0.01"
                                                   placeholder="0.00"
                                                   id="txtAmount1"
                                                   class="inputnumberfis2"
                                                   ng-model="totalFISAmount1"
                                                   ng-change="updateTotalFISAmount()" />
                                        </div>
                                    </div>
                                    <div class="tablerow">
                                        <div class="tablecell">
                                            <select class="inputdropdown2" id="ddlCostCenter2"
                                                    ng-model="ddlCostCenter2"
                                                    ng-options="costcenter.CostCenterValue for costcenter in CostCenters track by costcenter.Name"
                                                    ng-change="getProjects('ddlCostCenter2', ddlCostCenter2)"></select>
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="tablecell">
                                            <input type="text" placeholder="" id="txtLineItem2" class="inputtext2" />
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="tablecell">
                                            <select class="inputdropdown2" id="project2"
                                                    ng-model="ddlProjects2"
                                                    ng-options="project.Name for project in projects2 track by project.Id"></select>
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="tablecell">
                                            <input type="number" min="0.00" max="99999999.99" step="0.01" placeholder="0.00" id="txtTask2" class="inputnumberfis2" />
                                        </div>
                                        <div class="spacer"></div>
                                        <div class="tablecell">
                                            <input type="number" min="0.00" max="99999999.99" step="0.01"
                                                   placeholder="0.00"
                                                   id="txtAmount2"
                                                   class="inputnumberfis2"
                                                   ng-model="totalFISAmount2"
                                                   ng-change="updateTotalFISAmount()" />
                                        </div>
                                    </div>
                                </div>
                             </div>
                          </div>
                    </div>
                    <div class="actionbuttonold">
                        <input class="btn backbutton" type="button" name="btnBack" value="Back" onclick="backtoactionselection()" />
                        <input class="btn signinbutton" type="button" name="btnNext" value="Save and Continue" onclick="savedataentry()" />
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
