<div id="travelreimbursementform">
    <div id="dataentry" class="main travelreimbursementcontainer">
        <div class="reimbursementdataentry">
            <div class="usersection">
                <div class="row">
                    <div class="column">
                        <div class="reimbursementpagetitle">
                            <span id="travelRequestIdForDisplay">Travel Reimbursement Form</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="">
                            <span>Travel Authorization #</span>
                        </div>
                        <input type="text" placeholder="" id="txtTravelRequestNumber1" class="datainput" readonly disabled />
                    </div>
                    <div class="column">
                        <div class="label2">
                            <span>Badge #</span><sup class="required">*</sup>
                        </div>
                        <input type="text" placeholder="" id="txtBadgeNumber" width="100" class="datainput" onblur="setUserName()" />
                    </div>
                    <div class="column">
                        <div class="label5">
                            <span>Travel Period From</span><sup class="required">*</sup>
                        </div>
                        <input type="text" placeholder="MM/DD/YYYY" id="txtTravelPeriodFrom" name="txtTravelPeriodFrom" width="100" class="datainputdatereimbursement" />
                    </div>
                    <div class="column">
                        <div class="label5">
                            <span>Travel Period To</span><sup class="required">*</sup>
                        </div>
                        <input type="text" placeholder="MM/DD/YYYY" id="txtTravelPeriodTo" name="txtTravelPeriodTo" width="100" class="datainputdatereimbursement" />
                    </div>
                    <div class="column">
                        <div class="label3">
                            <span>Vendor #</span><sup class="required">*</sup>
                        </div>
                        <input type="text" placeholder="" id="txtVendorNumber" class="datainputreimbursement" onblur="setUserName()" />
                    </div>
                    <div class="column">
                        <div class="label3">
                            <span>Cost Center #</span><sup class="required">*</sup>
                        </div>
                        <input type="text" placeholder="" id="txtCostCenterNumber" width="100" class="datainputreimbursement" onblur="setUserName()" />
                    </div>
                    <div class="column">
                        <div class="label3">
                            <span>Date</span>
                        </div>
                        <input type="text" id="txtToday" name="txtToday" width="100" class="datainputdatereimbursement" placeholder="MM/DD/YYY" readonly disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="label2">
                            <span>Name</span><sup class="required">*</sup>
                        </div>
                        <input type="text" placeholder="" id="txtName" class="datainputname" />
                    </div>
                    <div class="column">
                        <div class="label2">
                            <span>Ext.</span>
                        </div>
                        <input type="text" placeholder="" id="txtExtension" class="datainput" />
                    </div>
                    <div class="column">
                        <div class="label3">
                            <span>Division</span><sup class="required">*</sup>
                        </div>
                        <input type="text" placeholder="" id="txtDivision" width="100" class="datainputname" onblur="setUserName()" />
                    </div>
                    <div class="column">
                        <div class="label3">
                            <span>Department</span><sup class="required">*</sup>
                        </div>
                        <input type="text" placeholder="" id="txtDepartment" width="100" class="datainput" onblur="setUserName()" />
                    </div>
                </div>
            </div>
            <div id="part1travel" ng-app="travelApp" ng-controller="travelAppCtrl">
                <div class="row">
                    <div class="column">
                        <div class="reimbursementpagetitle">
                            <span>Travel</span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive divpart1">
                    <table class="table table-bordered tablepart1">
                        <thead>
                            <tr>
                                <th colspan="2" class="headercolumn1">Part 1 - TRAVEL ( Approved TA )</th>
                                <th colspan="7" class="headerceteralign">Transportation</th>
                                <th colspan="3" class="headerceteralign">Subsistence</th>
                                <th colspan="2" class="headerceteralign">Miscellaneous</th>
                                <th class="headerceteralign">$</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tablerowlabel">
                                <td class="headerceteralign">Date</td>
                                <td class="headerceteralign">City, State & Business Purposes</td>
                                <td class="headerceteralign headercolumn"><b>(A)</b><br /> # of Total Miles</td>
                                <td class="headerceteralign headercolumn"><b>(B)</b><br /> # of Normal Workday Mileage to Work</td>
                                <td class="headerceteralign headercolumn"><b>(A) - (B)</b><br /> Business Miles</td>
                                <td class="headerceteralign headercolumn">
                                    <b>(A) - (B)</b><br />
                                    Business Miles<br />
                                    <b>x</b> Rate<br /><br />
                                    &nbsp;$0.555
                                </td>
                                <td class="headerceteralign">Parking, Gas,<br />Tolls</td>
                                <td class="headerceteralign">Airfare</td>
                                <td class="headerceteralign">Taxi, Rail,<br />Vehicle Rental</td>
                                <td class="headerceteralign">Lodging</td>
                                <td class="headerceteralign">Meals</td>
                                <td class="headerceteralign">Registration</td>
                                <td class="headerceteralign">Internet</td>
                                <td class="headerceteralign">Other</td>
                                <td class="headerceteralign">Daily Total</td>
                            </tr>
                            <tr>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="MM/DD/YYYY" id="txtTravelDate1" name="txtTravelDate1" class="datainputdate2" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtCityState1" name="txtCityState1" class="datainputname2" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtTotalMiles1" name="txtTotalMiles1" class="datatransportationcolumn" maxlength="4" onkeypress="return isNumberKey(event)" ng-model="TotalMileA1" ng-change="updateMileATotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtNormalMiles1" name="txtNormalMiles1" class="datatransportationcolumn" maxlength="4" onkeypress="return isNumberKey(event)" ng-model="TotalMileB1" ng-change="updateMileBTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtBusinessMiles1" name="txtBusinessMiles1" class="datatransportationcolumn" ng-model="BusinessMile1" disabled readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtBusinessMilesTotal1" name="txtBusinessMilesTotal1" class="inputtransportationnumber" ng-model="BusinessMileAmount1" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtParking1" name="txtParking1" class="inputtransportationnumber" ng-model="Parking1" ng-change="updateParkingTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAirfare1" name="txtAirfare1" class="inputtransportationnumber" ng-model="Airfare1" ng-change="updateAirfareTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTaxi1" name="txtTaxi1" class="inputtransportationnumber" ng-model="Taxi1" ng-change="updateTaxiTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtLodging1" name="txtLodging1" class="inputtransportationnumber" ng-model="Lodging1" ng-change="updateLodgingTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtMeals1" name="txtMeals1" class="inputtransportationnumber" ng-model="Meals1" ng-change="updateMealTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtRegistration1" name="txtRegistration1" class="inputtransportationnumber" ng-model="Registration1" ng-change="updateRegistrationTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtInternet1" name="txtInternet1" class="inputtransportationnumber" ng-model="Internet1" ng-change="updateInternetTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtOther1" name="txtOther1" class="inputtransportationnumber" ng-model="Other1" ng-change="updateOtherTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtDailyTotal1" name="txtDailyTotal1" 
                                           class="inputtransportationnumber"
                                           ng-model="dailyTotalAmount1" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="MM/DD/YYYY" id="txtTravelDate2" name="txtTravelDate2" class="datainputdate2" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtCityState2" name="txtCityState2" class="datainputname2" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtTotalMiles2" name="txtTotalMiles2" class="datatransportationcolumn" maxlength="4" onkeypress="return isNumberKey(event)" ng-model="TotalMileA2" ng-change="updateMileATotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtNormalMiles2" name="txtNormalMiles2" class="datatransportationcolumn" maxlength="4" onkeypress="return isNumberKey(event)" ng-model="TotalMileB2" ng-change="updateMileBTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtBusinessMiles2" name="txtBusinessMiles2" class="datatransportationcolumn" ng-model="BusinessMile2" disabled readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtBusinessMilesTotal2" name="txtBusinessMilesTotal2" class="inputtransportationnumber" ng-model="BusinessMileAmount2" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtParking2" name="txtParking2" class="inputtransportationnumber" ng-model="Parking2" ng-change="updateParkingTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAirfare2" name="txtAirfare2" class="inputtransportationnumber" ng-model="Airfare2" ng-change="updateAirfareTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTaxi2" name="txtTaxi2" class="inputtransportationnumber" ng-model="Taxi2" ng-change="updateTaxiTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtLodging2" name="txtLodging2" class="inputtransportationnumber" ng-model="Lodging2" ng-change="updateLodgingTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtMeals2" name="txtMeals2" class="inputtransportationnumber" ng-model="Meals2" ng-change="updateMealTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtRegistration2" name="txtRegistration2" class="inputtransportationnumber" ng-model="Registration2" ng-change="updateRegistrationTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txInternet2" name="txtInternet2" class="inputtransportationnumber" ng-model="Internet2" ng-change="updateInternetTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtOther2" name="txtOther2" class="inputtransportationnumber" ng-model="Other2" ng-change="updateOtherTotal()" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtDailyTotal2" name="txtDailyTotal2" 
                                           class="inputtransportationnumber"
                                           ng-model="dailyTotalAmount2" />
                                </td>
                            </tr>
                            <!--<tr>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="MM/DD/YYYY" id="txtTravelDate3" name="txtTravelDate3" class="datainputdate2" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtCityState3" name="txtCityState3" class="datainputname2" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtTotalMiles3" name="txtTotalMiles3" class="datatransportationcolumn" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtNormalMiles3" name="txtNormalMiles3" class="datatransportationcolumn" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtBusinessMiles3" name="txtBusinessMiles3" class="datatransportationcolumn" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtBusinessMilesTotal3" name="txtBusinessMilesTotal3" class="inputtransportationnumber" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtParking3" name="txtParking3" class="inputtransportationnumber" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAirfare3" name="txtAirfare3" class="inputtransportationnumber" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTaxi3" name="txtTaxi3" class="inputtransportationnumber" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtLodging3" name="txtLodging3" class="inputtransportationnumber" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtMeals3" name="txtMeals3" class="inputtransportationnumber" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtRegistration3" name="txtRegistration3" class="inputtransportationnumber" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtOther3" name="txtOther3" class="inputtransportationnumber" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtLocal3" name="txtLocal3" class="inputtransportationnumber" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtLongDistance3" name="txtLongDistance3" class="inputtransportationnumber" />
                                </td>
                                <td style="padding:0px;vertical-align:middle;border-color:white;">-->
                                    <!--<input class="btn btn-danger deleterowbutton" type="button" id="btnDeleteRow" name="btnDeleteRow" value="Delete" />-->
                                    <!--<span style="color:red;font-weight:bold;cursor:pointer;" title="Delete row">&nbsp;❌</span>
                                </td>
                            </tr>-->
                            <tr>
                                <td colspan="2" class="headercolumn2">Part 1 Column Totals</td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtTotalMiles" name="txtTotalMiles" class="datatransportationcolumn totalbgcolor" ng-model="totalMileA" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtTotalNormalMiles" name="txtTotalNormalMiles" class="datatransportationcolumn totalbgcolor" ng-model="totalMileB" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtTotalBusinessMiles" name="txtTotalBusinessMiles" class="datatransportationcolumn totalbgcolor" ng-model="totalBusinessMile" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtBusinessMilesAmountTotal" name="txtBusinessMilesAmountTotal" class="inputtransportationnumber totalbgcolor" ng-model="totalBusinessMileAmount" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtParkingTotal" name="txtParkingTotal" class="inputtransportationnumber totalbgcolor" ng-model="totalParking" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAirfareTotal" name="txtAirfareTotal" class="inputtransportationnumber totalbgcolor" ng-model="totalAirfare" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTaxiTotal" name="txtTaxiTotal" class="inputtransportationnumber totalbgcolor" ng-model="totalTaxi" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtLodgingTotal" name="txtLodgingTotal" class="inputtransportationnumber totalbgcolor" ng-model="totalLodging" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtMealsTotal" name="txtMealsTotal" class="inputtransportationnumber totalbgcolor" ng-model="totalMeals" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtRegistrationTotal" name="txtRegistrationTotal" class="inputtransportationnumber totalbgcolor" ng-model="totalRegistration" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtInternetTotal" name="txtInternetTotal" class="inputtransportationnumber totalbgcolor" ng-model="totalInternet" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtOtherTotal" name="txtOtherTotal" class="inputtransportationnumber totalbgcolor" ng-model="totalOther" readonly />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalDailyAmount" name="txtTotalDailyAmount" class="inputtransportationnumber totalbgcolor" ng-model="totalDailyAmount" readonly disabled />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="addrowrow">
                    <input class="btn btn-primary addrowbutton" type="button" id="btnAddRow" name="btnAddRow" value="Add Row" />
                </div>
                <div>
                    <table class="table table-bordered tablepart2">
                        <thead>
                            <tr>
                                <th class="headercolumncostcenter headerceteralign">Cost Center</th>
                                <th class="headercolumncostcenter headerceteralign">Account</th>
                                <th class="headercolumncostcenter headerceteralign">Project</th>
                                <th class="headercolumncostcenter headerceteralign">Task #</th>
                                <th class="headercolumncostcenter headerceteralign">Amount in $</th>
                                <th class="headerceteralign">Calculation</th>
                                <th class="headercolumntotal headerceteralign">$</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding:0px;">
                                    <select class="inputdropdownreibursement" id="ddlCostCenter1"
                                            ng-model="ddlCostCenter1"
                                            ng-options="costcenter.CostCenterValue for costcenter in CostCenters track by costcenter.Name"
                                            ng-change="getProjects('ddlCostCenter1', ddlCostCenter1)"></select>
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtAccount1" name="txtAccount1" class="datainputcostcenter" />
                                </td>
                                <td style="padding:0px;">
                                    <select class="inputdropdownreibursement" id="ddlProjects1"
                                            ng-model="ddlProjects1"
                                            ng-options="project.Name for project in projects1 track by project.Id"></select>
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtTask1" name="txtTask1" class="datainputcostcenter" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAmount1" name="txtAmount1" class="inputamountnumber" />
                                </td>
                                <td style="padding-top:5px;" class="calculationtext">Total Part I: Travel Expenses</td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalPart1TravelExpense" name="txtTotalPart1TravelExpense" ng-model="totalDailyAmount" class="inputtransportationnumber totalbgcolor" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0px;">
                                    <select class="inputdropdownreibursement" id="ddlCostCenter2"
                                            ng-model="ddlCostCenter2"
                                            ng-options="costcenter.CostCenterValue for costcenter in CostCenters track by costcenter.Name"
                                            ng-change="getProjects('ddlCostCenter2', ddlCostCenter2)"></select>
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtAccount2" name="txtAccount2" class="datainputcostcenter" />
                                </td>
                                <td style="padding:0px;">
                                    <select class="inputdropdownreibursement" id="ddlProjects2"
                                            ng-model="ddlProjects2"
                                            ng-options="project.Name for project in projects2 track by project.Id"></select>
                                </td>
                                <td style="padding:0px;">
                                    <input type="text" placeholder="" id="txtTask2" name="txtTask2" class="datainputcostcenter" />
                                </td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtAmount2" name="txtAmount2" class="inputamountnumber" />
                                </td>
                                <td style="padding-top:5px;" class="calculationtext">ADD: Total Part II: Non-Travel Expenses</td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalPart2NonTravelExpense" name="txtTotalPart2NonTravelExpense" class="inputtransportationnumber totalbgcolor" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="padding-top:5px;" class="calculationtext">TOTAL Exp Submitted for Approval</td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalSubmittedForApproval" name="txtTotalSubmittedForApproval" class="inputtransportationnumber totalbgcolor" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="padding-top:5px;" class="calculationtext">SUBSTRACT: Prepaid Exp Paid by MTA</td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalPrePaidByMTA" name="txtTotalPrePaidByMTA" class="inputtransportationnumber totalbgcolor" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="padding-top:5px;" class="calculationtext">TOTAL EXPENSES</td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotalExpenses" name="txtTotalExpenses" class="inputtransportationnumber totalbgcolor" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="padding-top:5px;" class="calculationtext">SUBSTRACT:  Cash Advance</td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtCashAdvance" name="txtCashAdvance" class="inputtransportationnumber totalbgcolor" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="padding-top:5px;" class="calculationtext">TOTAL</td>
                                <td style="padding:0px;">
                                    <input type="number" min="0.00" max="999999.99" step="0.01" placeholder="0.00" id="txtTotal" name="txtTotal" class="inputtransportationnumber totalbgcolor" />
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
            </div>
            <div style="display:flex;">
                <div class="newrequestrequiredcontainer"><br /><sub class="required">* required fields.</sub></div>
                <div class="actionbuttonold" style="flex-grow:1;">
                    <input class="btn btn-primary signinbutton3" type="button" name="btnBack" value="Back" onclick="showapprovedtravelrequests()" />
                    <input class="btn btn-primary signinbutton3" type="button" name="btnNext" value="Save and Continue" onclick="savereimbursementdataentry()" />
                </div>
            </div>
            <div class="row">
                <div id="submiterror" class="main errorcontainernewrequest2" style="display:none;">
                    <span class="dialognewrequest" id="submiterrormessage"></span>
                    <a href="#" class="close-thick" onclick="return closetravelrequesterror();"></a>
                </div>
                <!--<div id="submitsuccess" class="main successcontainerok" style="float:left;display:none;">
                    <div class="dialogSuccessSubmit">
                        <span id="submitsuccessmessage"></span>
                        <input class="btn btn-primary signinbutton ok" type="button" id="btnOk" name="btnOk" value="Ok" onclick="showaction()" />
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>