<div id="fileupload">
    <div class="main uploadandsubmitcontainer">
        <div id="content" class="dataentryuploadandsubmitsection">
            <div id="dataentrysection">
                <div class="usersection">
                    <div class="row">
                        <div class="column">
                            <div class="pagetitle4">
                                <span id="travelRequestIdForDisplay">Attachments</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="float:left;" id="documentsection1">
                            <div class="uploaddocumenttitle"><span> Justification Memo </span></div>
                            <div class="dropzone dz-clickable supportingDocumentZone1" id="supportingDocumentZone1">
                                <div class="dz-default dz-message" data-dz-message="" style="margin-top:55px;">
                                    <span class="supportingDocumentZoneText" id="uploaddocumenttext1">Click here to<br /> upload document 1</span>
                                    <span id="uploaddocumenticon1" style="display:none;">
                                        <br />
                                        <br />
                                        <img src="../Images/approve2.png" width="35" height="35" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div style="float:left;" id="documentsection2">
                            <div class="uploaddocumenttitle"><span>Agenda </span></div>
                            <div class="dropzone dz-clickable supportingDocumentZone1" id="supportingDocumentZone2">
                                <div class="dz-default dz-message" data-dz-message="" style="margin-top:55px;">
                                    <span class="supportingDocumentZoneText" id="uploaddocumenttext2">Click here to<br /> upload document 2</span>
                                    <span id="uploaddocumenticon2" style="display:none;">
                                        <br />
                                        <br />
                                        <img src="../Images/approve2.png" width="35" height="35" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div style="float:left;" id="documentsection3">
                            <div class="uploaddocumenttitle"><span>Cash Advance Memo</span></div>
                            <div class="dropzone dz-clickable supportingDocumentZone1" id="supportingDocumentZone3">
                                <div class="dz-default dz-message" data-dz-message="" style="margin-top:55px;">
                                    <span class="supportingDocumentZoneText" id="uploaddocumenttext3">Click here to<br /> upload document 3</span>
                                    <span id="uploaddocumenticon3" style="display:none;">
                                        <br />
                                        <br />
                                        <img src="../Images/approve2.png" width="35" height="35" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div style="float:left;" id="documentsection4">
                            <div class="uploaddocumenttitle"><span>Registration</span></div>
                            <div class="dropzone dz-clickable supportingDocumentZone1" id="supportingDocumentZone4">
                                <div class="dz-default dz-message" data-dz-message="" style="margin-top:55px;">
                                    <span class="supportingDocumentZoneText" id="uploaddocumenttext4">Click here to<br /> upload document 4</span>
                                    <span id="uploaddocumenticon4" style="display:none;">
                                        <br />
                                        <br />
                                        <img src="../Images/approve2.png" width="35" height="35" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div style="float:left;">
                            <div class="uploaddocumenttitle"><span>Other Supporting Docs</span></div>
                            <div class="dropzone dz-clickable supportingDocumentZone1" id="supportingDocumentZone6">
                                <div class="dz-default dz-message" data-dz-message="" style="margin-top:55px;">
                                    <span class="supportingDocumentZoneText" id="uploaddocumenttext5">Click here to<br /> upload other documents</span>
                                    <span id="uploaddocumenticon5" style="display:none;">
                                        <br />
                                        <br />
                                        <img src="../Images/approve2.png" width="35" height="35" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="dropzone dz-clickable supportingDocumentZone" id="supportingDocumentZone">
                            <div class="dz-default dz-message" data-dz-message="">
                                <span>Drop files here to upload</span>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div id="supportingDocuments" class="supportingDocumentSection">
                            <div ng-app="travelApp" ng-controller="travelAppCtrl">
                                <div ui-grid="gridOptions" ui-grid-pagination ui-grid-cell-contents class="supportingDocumentGrid"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="pagetitle5">
                                <span id="travelRequestIdForDisplay">Assign Approvers & Submit</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="submitsection">
                            <div class="submitsection">
                                <div style="padding-top:2px;" class="departmenthead">
                                    <div style="float:left;" class="approvaltitle"><span>Department Head</span>&nbsp;<sup class="required">*</sup></div>
                                    <div ng-app="travelApp" ng-controller="travelAppCtrl">
                                        <div style="float:left;">
                                            <select class="inputdropdown submitUser" id="ddlDepartmentHead" name="ddlDepartmentHead"
                                                    ng-model="ddlDepartmentHead"
                                                    ng-change="displayOther('otherForDepartmentHead', 'txtDepartmentHeadBadgeNumber', 'txtDepartmentHeadName', ddlDepartmentHead)"
                                                    ng-options="department.Name for department in DepartmentHeads track by department.BadgeNumber"></select>
                                        </div>
                                        <div id="otherForDepartmentHead" class="" style="display:none;">
                                            <span class="label2 approvaltitle">Badge #</span>
                                            <input type="text" placeholder="Badge Number" id="txtDepartmentHeadBadgeNumber" name="txtDepartmentHeadBadgeNumber" width="50" ng-model="departmentHeadBadgeNumber" class="badgeNumberForSubmit" onblur="setOtherUserName('txtDepartmentHeadBadgeNumber', 'txtDepartmentHeadName')" />
                                            <span class="label2 approvaltitle">Name</span>
                                            <input type="text" placeholder="Name" id="txtDepartmentHeadName" name="txtDepartmentHeadName" width="50" class="approverNameForSubmit" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div id="additionalApprovers">
                                    <div style="clear:both;padding-top:10px;" class="executiveofficer">
                                        <div style="float:left;" class="approvaltitle"><span>Executive Officer</span></div>
                                        <div ng-app="travelApp" ng-controller="travelAppCtrl">
                                            <div>
                                                <select class="inputdropdown submitUser" id="ddlExecutiveOfficer" name="ddlExecutiveOfficer"
                                                        ng-model="ddlExecutiveOfficer"
                                                        ng-change="displayOther('otherForExecutiveOfficer', 'txtExecutiveOfficerBadgeNumber', 'txtExecutiveOfficerName', ddlExecutiveOfficer)"
                                                        ng-options="officer.Name for officer in ExecutiveOfficers track by officer.BadgeNumber"></select>
                                            </div>
                                            <div id="otherForExecutiveOfficer" class="otherBadgeNumberContainer" style="display:none;">
                                                <span class="label2 approvaltitle">Badge #</span>
                                                <input type="text" placeholder="Badge Number" id="txtExecutiveOfficerBadgeNumber" name="txtExecutiveOfficerBadgeNumber" width="50" ng-model="executiveOfficerBadgeNumber" class="badgeNumberForSubmit" onblur="setOtherUserName('txtExecutiveOfficerBadgeNumber', 'txtExecutiveOfficerName')" />
                                                <span class="label2 approvaltitle">Name</span>
                                                <input type="text" placeholder="Name" id="txtExecutiveOfficerName" name="txtExecutiveOfficerName" width="50" class="approverNameForSubmit" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear:both;padding-top:10px;" class="ceoforinternational">
                                        <div style="float:left;" class="approvaltitle"><span>CEO (For International)</span></div>
                                        <div ng-app="travelApp" ng-controller="travelAppCtrl">
                                            <div>
                                                <select class="inputdropdown submitUser" id="ddlCEOForInternational" name="ddlCEOForInternational"
                                                        ng-model="ddlCEOForInternational"
                                                        ng-change="displayOther('otherForCEOForInternational', 'txtCEOForInternationalBadgeNumber', 'txtCEOForInternationalName', ddlCEOForInternational)"
                                                        ng-options="officer.Name for officer in CEOsForInternational track by officer.BadgeNumber"></select>
                                            </div>
                                            <div id="otherForCEOForInternational" class="otherBadgeNumberContainer" style="display:none;">
                                                <span class="label2 approvaltitle">Badge #</span>
                                                <input type="text" placeholder="Badge Number" id="txtCEOForInternationalBadgeNumber" name="txtCEOForInternationalBadgeNumber" width="50" ng-model="ceoForInternationalBadgeNumber" class="badgeNumberForSubmit" onblur="setOtherUserName('txtCEOForInternationalBadgeNumber', 'txtCEOForInternationalName')" />
                                                <span class="label2 approvaltitle">Name</span>
                                                <input type="text" placeholder="Name" id="txtCEOForInternationalName" name="txtCEOForInternationalName" width="50" class="approverNameForSubmit" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear:both;padding-top:10px;" class="ceoforaptacta">
                                        <div style="float:left;" class="approvaltitle"><span>CEO (For APTA/CTA/TRB conference)</span></div>
                                        <div ng-app="travelApp" ng-controller="travelAppCtrl">
                                            <div>
                                                <select class="inputdropdown submitUser" id="ddlCEOForAPTA" name="ddlCEOForAPTA"
                                                        ng-model="ddlCEOForAPTA"
                                                        ng-change="displayOther('otherForCEOForAPTA', 'txtCEOForAPTABadgeNumber', 'txtCEOForAPTAName', ddlCEOForAPTA)"
                                                        ng-options="officer.Name for officer in CEOsForAPTA track by officer.BadgeNumber"></select>
                                            </div>
                                            <div id="otherForCEOForAPTA" class="otherBadgeNumberContainer" style="display:none;">
                                                <span class="label2 approvaltitle">Badge #</span>
                                                <input type="text" placeholder="Badge Number" id="txtCEOForAPTABadgeNumber" name="txtCEOForAPTABadgeNumber" width="50" ng-model="ceoForAPTABadgeNumber" class="badgeNumberForSubmit" onblur="setOtherUserName('txtCEOForAPTABadgeNumber', 'txtCEOForAPTAName')" />
                                                <span class="label2 approvaltitle">Name</span>
                                                <input type="text" placeholder="Name" id="txtCEOForAPTAName" name="txtCEOForAPTAName" width="50" class="approverNameForSubmit" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both;padding-top:10px;" class="travelcoordinator">
                                    <div style="float:left;" class="approvaltitle"><span>Travel Program Administrator</span><sup class="required">*</sup></div>
                                    <div ng-app="travelApp" ng-controller="travelAppCtrl">
                                        <div>
                                            <select class="inputdropdown submitUser" id="ddlTravelCoordinator" name="ddlTravelCoordinator"
                                                    ng-model="ddlTravelCoordinator"
                                                    ng-change="displayOther('otherForTravelCoordinator', 'txtTravelCoordinatorBadgeNumber', 'txtTravelCoordinatorName', ddlTravelCoordinator)"
                                                    ng-options="officer.Name for officer in TravelCoordinators track by officer.BadgeNumber"></select>
                                        </div>
                                        <div id="otherForTravelCoordinator" class="otherBadgeNumberContainer" style="display:none;">
                                            <span class="label2 approvaltitle">Badge #</span>
                                            <input type="text" placeholder="Badge Number" id="txtTravelCoordinatorBadgeNumber" name="txtTravelCoordinatorBadgeNumber" width="50" ng-model="travelCoordinatorBadgeNumber" class="badgeNumberForSubmit" onblur="setOtherUserName('txtTravelCoordinatorBadgeNumber', 'txtTravelCoordinatorName')" />
                                            <span class="label2 approvaltitle">Name</span>
                                            <input type="text" placeholder="Name" id="txtTravelCoordinatorName" name="txtTravelCoordinatorName" width="50" class="approverNameForSubmit" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="clear:both;padding-top:5px;">
                            <div class="agreement">
                                <span>
                                    <input type="checkbox" id="cbAgree" name="cbAgree" value="1" class="agreecheckbox" />
                                    <sup class="required">*</sup>&nbsp;<span class="agreetext">
                                        I hereby certify that all expenditures reported here are legitimate expenses chargeable to the
                                        Los Angeles County Metropolitan Transportation Authority. As a condition of <br /> recieving a Travel Advance, I agree that the Los Angeles County Metropolitan Transportation Authority
                                        may deduct the amount of my Travel Advance from my pay check,<b>
                                            in the <br />event I fail to submit a Travel and Business Expence Report (ACCS-501) with appropriate documentation within 30 days of my return.
                                        </b>
                                    </span>
                                </span>
                            </div>
                            <!--<div style="margin-top:2px;">
                                <div  id="submittername" name="submittername">
                                    <div style="float:left;padding-top:10px;margin-right:10px;">
                                        <span class="approvaltitle">Submitter's Name</span><sup class="required">*</sup>
                                    </div>
                                    <div style="margin-left:10px;">
                                        <input type="text" placeholder="Submitter's Name" id="txtSubmittedByUserName" name="txtSubmittedByUserName" width="100" class="datainputname" />
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="submiterror2" class="main errorcontainer2" style="display:none;">
                        <span class="dialog" id="submiterrormessage2">error</span>
                        <a href="#" class="close-thick" onclick="return closesubmiterror();"></a>
                    </div>
                    <div id="submitsuccess2" class="main successcontainerok" style="float:left;display:none;">
                        <div class="dialogSuccessSubmit">
                            <span id="submitsuccessmessage2"></span>
                            <input class="btn btn-primary signinbutton ok" type="button" id="btnOk" name="btnOk" value="Ok" onclick="showaction()" />
                        </div>
                    </div>
                </div>
                <div class="estimatedexpensesection row">
                    <!--<div>
                        <sub class="required">* required fields.</sub>
                     </div>-->
                    <div style="float:left;position:absolute;clear:left;width:200px;">
                        <sub class="required">* required fields.</sub>
                    </div>
                    <div class="actionbuttonold">
                        <input class="btn btn-primary backbutton" type="button" id="btnBack" value="Back" onclick="backtotravelrequestsection()" />
                        <input class="btn btn-primary signinbutton" type="button" id="btnSubmit" name="btnSubmit" value="Submit" ng-click="submitRequest2()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>