body{
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}
.appbackground {
    background-image: url("/images/sn.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

div.main {
    display:block;
    margin-top:2px;
}

.logotitle,
.logotitle:hover {
    color:#fff;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

a
{
    color:dodgerblue;
    text-decoration:none;
}

a:hover
{
    color:black;
    text-decoration:none;
}

div.signincontainer {
    position: absolute;
    float:left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 250px;
    margin: auto;
    background-color: white;
    box-shadow: 10px 10px 5px #3c3c3c;
    border-radius: 3px;
    border:solid 1px black;
}

.signin {
    padding-left:18px;
    /*font-weight:bold;*/
    font-size:20px;
}

.datainput {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px gray;
    padding-left:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:150px;
    height:30px;
    font-size:15px;
    color:black;
    margin-bottom:10px;
}

.datainputerror {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px red;
    padding-left:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:375px;
    height:35px;
    font-size:15px;
    color:black;
    margin-top:5px;
    margin-bottom:10px;
}

.datainputname {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px gray;
    padding-left:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:350px;
    height:30px;
    font-size:15px;
    color:black;
    margin-bottom:10px;
}

.datainputdate {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px gray;
    padding-left:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:140px;
    height:30px;
    font-size:15px;
    color:black;
    margin-bottom:10px;
}

.label {
    padding-top:10px;
    float:left;
    margin-left:15px;
}

.errorcontainer {
    position:absolute;
    display:block;
    top:0;
    right:0;
}

.close-thick,
.close-thick:hover {
    color:white;
    font:14px/100% arial, sans-serif;
    position:absolute;
    right:5px;
    text-decoration:none;
    text-shadow: 0 1px 0 #fff;
    top:3px;
    text-wrap:normal;
}

.close-thick:after {
    content:'❌';
}

.dialog {
    background-color:#c44c4c;
    color:white;
    width:290px;
    height:auto;
    margin:2px; 
    padding:10px;
    padding-right:20px;
    font-size:15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    float:left;
    position:relative;
}

.signinbutton,
.signinbutton:hover,
.signinbutton:focus,
.signinbutton:active
{
    color:white;
    width:auto;
    min-width:100px;
    cursor:pointer;
    background-color:dodgerblue;
    border-color: #53A3CD;
}

.btn-success
{
    background-color:dodgerblue !important;
}
.register
{
    font-size:10px;
    margin-top:5px;
    text-align:center;
}

.signinbutton2{
    position: absolute;
    margin-left:195px;
    margin-top:150px;
}

.username {
    padding-left:38px;
    padding-top:0px;
    font-size:20px;
}

.selectrole {
    padding-left:38px;
    padding-top:10px;
}

.roles {
    padding-left:38px;
    height:96px;
}

.availableroles {
    font-size:15px;
    width:185px;
    height:30px;
    float:left;
    margin-top:3px;
    margin-bottom:3px;

    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    padding-top:40px;
    float:right;
    padding-right:62px;
}

.backsection
{
    float:left;
    padding-right:150px;
    padding-left:30px;
}

.action1
{
    float:left;
    margin-top:10px;
    padding:10px;
    width:235px;
    height:50px;
    box-shadow: 5px 5px 5px #3c3c3c;
    border-radius: 3px;
    border:solid 1px black;
}

.action2
{
    float:left;
    margin-top:10px;
    margin-left:20px;
    padding:10px;
    font-size:15px;
    width:235px;
    height:50px;
    box-shadow: 5px 5px 5px #3c3c3c;
    border-radius: 3px;
    border:solid 1px black;
}

.action1:hover {
border-radius:2px;
border:1px solid;
border-color:dodgerblue;
cursor:pointer;
}

.action2:hover {
border-radius:2px;
border:1px solid;
border-color:dodgerblue;
cursor:pointer;
}

div.actioncontainer {
    position: absolute;
    float:left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 550px;
    height: 250px;
    margin: auto;
    background-color: white;
    box-shadow: 10px 10px 5px #3c3c3c;
    border-radius: 3px;
    border:solid 1px black;
}

.backsection2
{
    float:left;
    margin-left:200px;
}

.button2 {
    padding-top:40px;
    float:left;
    height:100px;
    padding-left:28px;
}

.logout{
    float:right;
    color:white;
    padding:10px;
    padding-right:10px;
    display:none;
    cursor:pointer;
}

div.existingtravelrequestcontainer {
    position: absolute;
    float:left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1190px;
    height: 475px;
    margin: auto;
    background-color: white;
    box-shadow: 10px 10px 5px #3c3c3c;
    border-radius: 3px;
    border:solid 1px black;
}

.actionImage {
    margin-left:5px;
    width:25px;
    height:25px;
    cursor:pointer;
}

.actionImage2 {
    margin-left:5px;
    width:30px;
    height:30px;
    cursor:pointer;
}

.footerback{
    float:left;
    margin-top:10px;
    margin-left:20px;
}

.pagetitle{
    font-size:20px;
    padding-bottom:5px;
    color:#0728ea;
}

.existingTravelRequestsGrid{
    width:1178px;
    max-height:390px;
    margin-left:5px;
    font-size:15px;
    word-wrap: break-word;
    overflow-y:scroll
}

input.ui-grid-filter-input[type="text"] {
   background-color:#f8f2f2;
   font-size:11px;
}

div.travelrequestcontainer {
    position: absolute;
    float:left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:0px;
    /*margin: auto;*/
    background-color: white;
    box-shadow: 10px 10px 5px #3c3c3c;
    /*border-radius: 3px;
    border:solid 1px black;*/
    margin-top:25px;
}

.saveandcontinue{
    float:left;
    padding-right:10px;
}

.footer {
    position:absolute;
    right:0;
    bottom:0;
    padding-bottom:5px;
}

div.dataentry{
    background-color: white;
    box-shadow: 10px 10px 5px #3c3c3c;
    border-radius: 3px;
    border:solid 1px black;
    margin-left:75px;
    margin-right:100px;
    /*height:200px;*/

    justify-content: space-between;
  flex-direction: column;
  /*height: 100vh;*/
  display: flex;
}

.actionbutton{
    /*float:right;*/
    /*bottom:30px;
    left:70px;
    position:relative;*/
    justify-content:flex-end;
    display:flex;
    padding:10px;
}

.backbutton,
.backbutton:hover,
.backbutton:focus,
.backbutton:active
{
    color:white;
    width:auto;
    min-width:100px;
    cursor:pointer;
    background-color:dodgerblue;
    border-color: #53A3CD;
    margin-right:10px;
}

.rowentry{
    padding:10px;
    /*float:left;*/
}

.label2 {
    font-size:15px;
    width:25px;
    color:black;
    min-width:100px;
    font-weight:bold;
}

.label3 {
    font-size:15px;
    width:150px;
    color:black;

    font-weight:bold;
}

.required{
    color:red;
    font-weight:bold;
}

.rowentry2{
    padding:10px;
}

.column{
    display:flex;
    flex-direction:column;
    padding-left:10px;
    padding-right:10px;
}

.row{
    display:flex;
    flex-direction:row;
    padding-left:15px;
    margin-top:5px;
}

.usersection{
    display:block;
}

.estimatedexpensesection{
    display:block;
    margin-top:20px;
}

.purposedatainput {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:320px;
    height:45px;

    font-size:14px;
    color:black;
    margin-top:2px;
    height:60px;
}

.title{
    font-size:15px;
    font-weight:bold;
    padding-bottom:5px;
    padding-left:5px;
}

.tablecontainer{
    display:table;
    /*min-width:950px;*/
    font-size:15px;
    padding:0px;
    margin-left:10px;
    /*margin-right:auto;*/
}

.tableheading{
display:table-header-group;
}

.tablehead{
    display:table-cell;
    background-color:blue;
    text-align:center;
    min-width:90px;
    color:white;
    padding-left:10px;
    padding-right:10px;
}

.tableheadgeneral{
    display:table-cell;
    background-color:blue;
    text-align:center;
    width:290px;
    color:white;
    padding-left:10px;
    padding-right:10px;
}
.tableheadtopleft{
    display:table-cell;
    /*background-color:#f3f3f3;*/
    background-color:white;
    text-align:center;
    min-width:120px;
}

.tablerow{
    display:table-row;
}

.tablebody{
    display:table-row-group;
}

.tablecell{
    display:table-cell;
    vertical-align:top;
}
.tablecellheader{
    display:table-cell;
    vertical-align:middle;
    padding-right:4px;
    text-align:right;
}

.spacer{
    background-color:white;
    width:2px;
}

.inputnumber{
    /*width:120px;*/
    height:48px;
    float:left;
    margin-top:3px;
    margin-bottom:3px;
    text-align:right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.expenserowtitle{
    padding-left:10px;
    padding-top:3px;
    font-size:15px;
    /*font-weight:bold;*/
    margin-bottom:10px;
    vertical-align:middle;
}

.generaldatainput {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:250px;
    height:50px;
    /*font-family:'Open Sans Condensed', sans-serif;*/
    font-size:12px;
    color:black;
    margin-top:2px;
    padding-left:5px;
}

.generaldatainput2 {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:250px;
    height:50px;
    /*font-family:'Open Sans Condensed', sans-serif;*/
    font-size:12px;
    color:black;
    margin-top:2px;
    margin-left:2px;
}

/*input.datainput:-ms-input-placeholder,
input.datainputdate:-ms-input-placeholder,
input.datainputname:-ms-input-placeholder { 
    color: gray;
    font-size:12px;
}*/



/*input.inputnumber:-ms-input-placeholder {
     
    color: gray;
    font-size:12px;
    min-width:170px;
}*/

.generaldatainputdate {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:solid 1px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:250px;
    height:50px;
    /*font-family:'Open Sans Condensed', sans-serif;*/
    font-size:12px;
    color:black;
    margin-top:2px;
    padding-left:5px;
}